 .carousel_sec {
     margin: 100px 0;
 }

 .carousel-item {
     background-color: #fceae8;
 }

 .shoes_sec {
     margin: 100px auto;
 }

 .card {
     border: none;
     box-shadow: 5px 3px 10px #ada8a7;
 }